
<ul>
    {{#each questions.data as |question|}}
	    <li>{{question.attributes.title}}:
          <ul>
              {{#each question.attributes.options as |option|}}
	              <li>{{option}}</li>
              {{/each}}
          </ul>
      </li>
    {{/each}}
</ul>