<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline">
          {{#each questions.data as |question|}}
              <li>
                {{question.attributes.title}}:
                  <ul class="list-unstyled">
                    {{#each question.attributes.options as |option|}}
                        <li>
                            {{answer-tile saveTag=(route-action "saveTag" member chapter question option) member=member chapter=chapter question=question option=option}}
                        </li>
                    {{/each}}
                  </ul>
              </li>
          {{/each}}
        </ul>
    </div>
</div>
