<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
        <ul class="list-unstyled">
          {{#each chapter.viewableQuestions as |question|}}
              <li class="question">
                <h3>{{question.title}}</h3>
                  <ul class="list-unstyled">
                    {{#each question.options as |option|}}
                      {{#if (if-eq question.type "input")}}
                          <li class="question-answer">
                            {{answer-tile/input updateTag=(route-action "updateTag" member chapter question option tag) option=option}}
                          </li>
                      {{/if}}
                      {{#if (if-eq question.type "select")}}
                          <li class="question-answer">
                            {{answer-tile saveTag=(route-action "saveTag" member chapter question option tag) member=member chapter=chapter question=question option=option}}
                          </li>
                      {{/if}}
                    {{/each}}
                  </ul>
              </li>
          {{/each}}
        </ul>
    </div>
</div>
