<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-4 col-md-4 col-md-offset-4">
            <h2 style="color: #ffffff">Thank you for taking the time to take this survey!</h2>

          {{#link-to 'index.chapter.welcome' model.chapter.id}}
              <button type="button" {{action "restart" model.member model.chapter}} class=" btn btn-default btn-lg btn-block" style="margin-top: 25px; margin-bottom: 30px;">Retake Survey</button>
          {{/link-to}}
        </div>
    </div>
</div>

<div style="background: #ffffff">
    <div class="container" style="padding-left: 0; padding-right: 0">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-4 col-md-4 col-md-offset-4">
              {{member-consequences member=model.member}}
            </div>
        </div>
    </div>
</div>
