<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 col-md-offset-3">

            <h1>{{model.chapter.title}}</h1>

            <p>{{model.chapter.description}}</p>

          {{#link-to "index.chapters.chapter.question" model.chapter.id 1 class="btn-link"}}<button type="button" class="active btn btn-default btn-lg btn-block">Let's get started!</button>{{/link-to}}<br />
        </div>
    </div>
</div>
