
<div class="row">
  <div class="col-xs-12">
    <h1>{{model.chapter.title}}</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      {{#link-to 'index.chapter.welcome' model.chapter.id}}
          <span aria-hidden="true" {{action "restart" model.member model.chapter}}>Restart</span>
      {{/link-to}}
    </div>
</div>

{{outlet}}

{{pagination-nav chapter=model.chapter member=model.member saveTags=(route-action "saveTags" model.member) updateStatus=(route-action "updateStatus" model.member model.chapter)}}
