
<div class="row">
  <div class="col-xs-12">
    <h1>{{model.chapter.title}}</h1>
  </div>
</div>

{{outlet}}

{{pagination-nav chapter=model.chapter saveTags=(route-action "saveTags" model.member)}}
