
<div class="row">
  <div class="col-xs-12">
    <h1>{{model.chapter.title}}</h1>
  </div>
</div>

{{question-list member=model.member chapter=model.chapter}}

{{pagination-nav chapter=model.chapter}}

{{results-list member=model.member saveTags=(route-action "saveTags" model.member)}}