
<div class="row">
  <div class="col-xs-12">
    <h2 class="baby moduleHeader">{{model.chapter.title}}</h2>
  </div>
</div>

{{question-list member=model.member chapter=model.chapter questions=model.questions}}

{{pagination-nav}}

{{results-list member=model.member saveTags=(route-action "saveTags" model.member)}}