<h2>Welcome</h2>

<p>Please click a chapter to start:</p>

<ul class="list-group">
  {{#each model.chapters as |chapter|}}
      <li class="list-group-item">
          {{#link-to "index.chapter.question" chapter.id 1}}{{chapter.title}}{{/link-to}}
      </li>
  {{/each}}
</ul>

