<div class="summer container-fluid">
<div class="row">
	<div class="heading col-xs-12">
      <div class="logo"></div>
	</div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="containe-fluid">
      {{outlet}}
        </div>
    </div>
</div>
</div>


<footer>
	&copy; BabyCenter
</footer>
