<div class="summer container">
<div class="row">
	<div class="col-xs-12">
      <div class="logo"></div>
	</div>
</div>

<div class="row">
    <div class="col-xs-12">
      {{outlet}}
    </div>
</div>
</div>


<footer>
	&copy; BabyCenter
</footer>
